.emptyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2.5rem 0; /* 10 padding (top-bottom) */
  }
  
  .image {
    width: 15rem; /* w-60 in Tailwind = 15rem */
  }
  
  .message {
    width: 50%;
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    color: #334155; /* text-slate-700 */
    text-align: center;
    line-height: 1.75rem; /* leading-7 */
    margin-top: 1.25rem; /* mt-5 */
  }
  